@page "/contratoestructuradocs/crear/{cEstructura:int}"
@inject NavigationManager NavigationManager
@inject ContratoEstructuraDocsService Service
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h4><b>Crear Documento de Estructura del Contrato </b></h4>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormContratoEstructuraDocs contratoEstructuraDocs="@contratoEstructuraDocs" TextBotonSubmit="Guardar" OnValidSubmit="@CrearContrato" ocultaCarga="false" />
    </div>
</div>

@code {
    public ContratoEstructuraDocDTO contratoEstructuraDocs = new ContratoEstructuraDocDTO();

    [Parameter] public int cEstructura { get; set; }

    protected override async Task OnInitializedAsync()
    {
        contratoEstructuraDocs.ContratoEstructuraId = cEstructura;
    }

    async Task CrearContrato()
    {
        var respuesta = await Service.Post(contratoEstructuraDocs);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"/contratoestructuradocs/{contratoEstructuraDocs.ContratoEstructuraId}");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo crear documento: {respuesta.Content.ReadAsStringAsync().Result}", "error");
    }

    private void Volver()
    {
            NavigationManager.NavigateTo($"/contratoestructuradocs/{contratoEstructuraDocs.ContratoEstructuraId}");
    }
}