@page "/contratodocs/crear/{contrato:int}"
@inject NavigationManager NavigationManager
@inject ContratoDocsService Service
@inject IJSRuntime JS
@attribute [Authorize]

<div class="d-flex justify-content-between mb-3">
    <div>
        <h4><b>Crear Documento de Contrato</b></h4>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormContratoDocs contratoDocs="@contratoDocs" TextBotonSubmit="Guardar" OnValidSubmit="@CrearContrato" ocultaCarga="false" />
    </div>
</div>

@code {
    public ContratoDocDTO contratoDocs = new ContratoDocDTO();

    [Parameter] public int contrato { get; set; }

    protected override async Task OnInitializedAsync()
    {
        contratoDocs.ContratoId = contrato;
    }

    async Task CrearContrato()
    {
        var respuesta = await Service.Post(contratoDocs);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"/contratodocs/{contrato}");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo crear documento: {respuesta.Content.ReadAsStringAsync().Result}", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo($"/contratodocs/{contrato}");
    }
}