@page "/contratodocs/editar/{id:int}"
@inject NavigationManager NavigationManager
@inject ContratoDocsService Service
@inject IJSRuntime JS
@attribute [Authorize]

<div class="d-flex justify-content-between mb-3">
    @if (contratoDocs != null)
    {
        <h4><b>Editar Documento del Contrato @contratoDocs.Descripcion</b></h4>
    }
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormContratoDocs contratoDocs="@contratoDocs" TextBotonSubmit="Guardar" OnValidSubmit="@EditContrato" ocultaCarga="true" />
    </div>
</div>

@code {
    public ContratoDocDTO contratoDocs = new ContratoDocDTO();

    [Parameter] public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        contratoDocs = await Service.Get(id);
    }

    async Task EditContrato()
    {
        var respuesta = await Service.Put(contratoDocs);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"/contratodocs/{contratoDocs.ContratoId}");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo editar documento: {respuesta.Content.ReadAsStringAsync().Result}", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo($"/contratodocs/{contratoDocs.ContratoId}");
    }
}