@page "/contrato/crear"
@inject NavigationManager NavigationManager
@inject ContratoService Service
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h4><b>Crear contrato</b></h4>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormContrato contrato="@contrato" TextBotonSubmit="Guardar" OnValidSubmit="@NuevoContrato" />
    </div>
</div>

@code {
    public ContratoDTO contrato = new ContratoDTO();

    protected override async Task OnInitializedAsync()
    {

    }

    async Task NuevoContrato()
    {
        var respuesta = await Service.Post(contrato);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/contratos");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo crear contrato: {respuesta.Content.ReadAsStringAsync().Result}", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/contratos");
    }
}