@page "/logout"
@using GOP.Client.Services
@using GOP.Shared.DTOs.Identity
@inject NavigationManager NavigationManager
@inject UserService Service
@inject IJSRuntime JS

<div class="vh-100 row m-0 text-center align-items-center justify-content-center">
    <div class="col-auto spinner-grow" role="status"></div>
    <p class="col-auto">Cerrando sesión...</p>
</div>


@code {

    public CredencialUserDTO credenciales = new CredencialUserDTO();

    protected override async Task OnInitializedAsync()
    {
        await Service.Logout();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

}
