
<div class="vh-100 row m-0 text-center align-items-center justify-content-center">
	<div class="spinner-grow" role="status"></div>
	<p class="col-auto">@Texto</p>
</div>

@code {

	[Parameter]
	public string Texto { get; set; } = "Cargando..."; // Valor predeterminado

}
