@page "/calle/editar/{id:int}"
@inject NavigationManager NavigationManager
@inject CalleService Service
@inject IJSRuntime JS
@attribute [Authorize]

<div class="d-flex justify-content-between mb-3">
    <h4><b>Editar Calle</b></h4>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Atrás
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormCalle calle="@calle" TextBotonSubmit="Guardar" OnValidSubmit="@EditEmpresa" />
    </div>
</div>

@code {
    public CalleDTO calle = new CalleDTO();

    [Parameter] public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        calle = await Service.Get(id);
    }

    async Task EditEmpresa()
    {
        var respuesta = await Service.Put(calle);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/calles");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo editar empresa.", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/calles");
    }
}